$nightBlue: #090519;
$lightNightBlue: #1C2B6A;
$white: #ececec;
$gray: #a7a7a7;
$darkGray: #757575;
$warningRed: #ce5252;
$lightGray: #cacaca;
$lightOrange: #d6c6a5;
$lightBlue: #a5cbd6;
$orange: #e4b144;
$blue: #5caff3;
$saturatedOrange: #F9A748;
$saturatedBlue: #62AAE4;
$green: #007a06;
$lightGreen: #02b13c;
$contrastYellow: #FFF838;
$contrastGreen: #0AFF5C;