.theme-night {
  background: linear-gradient(180deg, #1C2B6A 0%, #090519 100%);
}

@media only screen and (max-width: 767px) {
  .theme-night .navbar-wrapper {
    background-color: #090519;
  }
  .theme-night .navbar-wrapper {
    box-shadow: 0 3px 5px rgba(133, 133, 133, 0.75);
  }
  .theme-night .menu-dd, .theme-night .wf-weekday-nav {
    background-color: #170d3c; 
  }
  .theme-night .menu-search-wrapper {
    background: linear-gradient(90deg, rgba(29, 17, 99, 0.7) 0%, rgba(63, 94, 251, 0) 50%);
  }
  .theme-night .menu-dd-item:nth-of-type(odd)::after, .theme-night .wf-weekday-card:nth-of-type(odd)::after {
    background-color: #ececec;
  }
  .theme-night .menu-dd-item:nth-of-type(even)::after, .theme-night .wf-weekday-card:nth-of-type(even)::after {
    background-color: #cacaca;
  }
  .theme-night .radio-wf-weekday-card:checked + label {
    background: linear-gradient(90deg, rgba(223, 223, 223, 0.5) 0%, rgba(63, 94, 251, 0) 50%);
  }
}

@media only screen and (min-width: 768px) {
  .theme-night .menu-dd.dd-opened {
    background-color: #090519;
  }
  .theme-night .menu-dd.dd-opened .search-bar {
    background-color: #a7a7a7;
  }
  .theme-night .radio-wf-weekday-card:checked + label::after {
    background-color: #ececec;
  }
}

.theme-night .col-prim {
  color: #ececec;
}

.theme-night .col-sec {
  color: #a7a7a7;
}

.theme-night .col-neg {
  color: #a5cbd6;
}

.theme-night .col-pos {
  color: #d6c6a5;
}

.theme-night input,
.theme-night select {
  color: #ececec;
  border-bottom-color: #a7a7a7;
}

.theme-night input:hover,
.theme-night select:hover {
  border-bottom-color: #cacaca;
}

.theme-night input:focus,
.theme-night select:focus {
  border-bottom-color: #ececec;
}

.theme-night .radio-result-nav + label,
.theme-night .radio-menu-dd-nav + label {
  color: #a7a7a7;
}

.theme-night .radio-result-nav + label:hover,
.theme-night .radio-menu-dd-nav + label:hover {
  color: #cacaca;
}

.theme-night .radio-result-nav:checked + label,
.theme-night .radio-menu-dd-nav:checked + label {
  color: #ececec;
}

.theme-night .radio-result-nav:checked + label::after,
.theme-night .radio-menu-dd-nav:checked + label::after {
  background-color: #ececec;
}

.theme-night .button-reset-input {
  color: #a7a7a7;
}

.theme-night .button-reset-input:hover {
  color: #ececec;
}

.theme-night .df-chart-container {
  background-color: rgba(90, 90, 90, 0.5);
}

.theme-night .df-chart-container .df-chart-scale {
  border-right: 1px solid #ececec;
}

.theme-night .df-chart-container .df-chart-columns {
  border-bottom: 1px solid #ececec;
}

.theme-night .df-chart-container .chart-col-neg {
  background-color: #a5cbd6;
}

.theme-night .df-chart-container .chart-col-neg:hover {
  background-color: #62AAE4;
}

.theme-night .df-chart-container .chart-col-pos {
  background-color: #d6c6a5;
}

.theme-night .df-chart-container .chart-col-pos:hover {
  background-color: #F9A748;
}

.theme-night .df-chart-col::after, .theme-night .df-chart-desc {
  background-color: #5a5a5a;
  color: #ececec;
}

.theme-night .menu-dd-item:hover, .theme-night .menu-dd-item:focus {
  background-color: rgba(160, 160, 160, 0.15);
}

.theme-night .menu-dd-item:hover button:hover, .theme-night .menu-dd-item:focus button:hover {
  background-color: rgba(160, 160, 160, 0.8);
}

.theme-night .menu-dd-item::after {
  background-color: #ececec;
}

.theme-night .button-bordered {
  background-color: rgba(160, 160, 160, 0.15);
  border: 1px solid #ececec;
}

.theme-night .button-bordered:hover, .theme-night .button-bordered:focus {
  background-color: rgba(160, 160, 160, 0.8);
}

.theme-night input[type="checkbox"] + label {
  background-color: #d6c6a5;
}

.theme-night input[type="checkbox"] + label:hover {
  background-color: #e4b144;
}

.theme-night input[type="checkbox"] + label::after {
  background-color: #ececec;
}

.theme-night input[type="checkbox"]:checked + label {
  background-color: #F9A748;
}

.theme-night input[type="checkbox"]:checked + label:hover {
  background-color: #e4b144;
}

.theme-night .x-button::before, .theme-night .x-button::after,
.theme-night .arr-left::before,
.theme-night .arr-left::after,
.theme-night .arr-right::before,
.theme-night .arr-right::after {
  background-color: #ececec;
}

.theme-night .splitter {
  background-color: #ececec;
}

.theme-day {
  background: linear-gradient(180deg, #ececec 0%, #d6c6a5 100%);
}

@media only screen and (max-width: 767px) {
  .theme-day .navbar-wrapper {
    background-color: #ececec;
  }
  .theme-day .navbar-wrapper {
    box-shadow: 0 3px 5px rgba(133, 133, 133, 0.75);
  }
  .theme-day .menu-dd, .theme-day .wf-weekday-nav {
    background-color: #ddd5c5;
  }
  .theme-day .menu-search-wrapper {
    background: linear-gradient(90deg, rgba(247, 247, 247, 0.5) 0%, rgba(63, 94, 251, 0) 50%);
  }
  .theme-day .menu-dd-item:nth-of-type(odd)::after, .theme-day .wf-weekday-card:nth-of-type(odd)::after {
    background-color: #ececec;
  }
  .theme-day .menu-dd-item:nth-of-type(even)::after, .theme-day .wf-weekday-card:nth-of-type(even)::after {
    background-color: #a7a7a7;
  }
  .theme-day .radio-wf-weekday-card:checked + label {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(63, 94, 251, 0) 50%);
  }
}

@media only screen and (min-width: 768px) {
  .theme-day .menu-dd.dd-opened {
    background-color: #d6c6a5;
  }
  .theme-day .menu-dd.dd-opened .search-bar {
    background-color: #a7a7a7;
  }
  .theme-day .radio-wf-weekday-card:checked + label::after {
    background-color: #090519;
  }
}

.theme-day .col-prim {
  color: #090519;
}

.theme-day .col-sec {
  color: #757575;
}

.theme-day .col-neg {
  color: #62AAE4;
}

.theme-day .col-pos {
  color: #F9A748;
}

.theme-day input,
.theme-day select {
  color: #090519;
  border-bottom-color: #757575;
}

.theme-day input:hover,
.theme-day select:hover {
  border-bottom-color: #1C2B6A;
}

.theme-day input:focus,
.theme-day select:focus {
  border-bottom-color: #090519;
}

.theme-day .radio-result-nav + label,
.theme-day .radio-menu-dd-nav + label {
  color: #757575;
}

.theme-day .radio-result-nav + label:hover,
.theme-day .radio-menu-dd-nav + label:hover {
  color: #1C2B6A;
}

.theme-day .radio-result-nav:checked + label,
.theme-day .radio-menu-dd-nav:checked + label {
  color: #090519;
}

.theme-day .radio-result-nav:checked + label::after,
.theme-day .radio-menu-dd-nav:checked + label::after {
  background-color: #090519;
}

.theme-day .button-reset-input {
  color: #757575;
}

.theme-day .button-reset-input:hover {
  color: #090519;
}

.theme-day .df-chart-container {
  background-color: rgba(250, 250, 250, 0.5);
}

.theme-day .df-chart-container .df-chart-scale {
  border-right: 1px solid #090519;
}

.theme-day .df-chart-container .df-chart-columns {
  border-bottom: 1px solid #090519;
}

.theme-day .df-chart-container .chart-col-neg {
  background-color: #5caff3;
}

.theme-day .df-chart-container .chart-col-neg:hover {
  background-color: #62AAE4;
}

.theme-day .df-chart-container .chart-col-pos {
  background-color: #e4b144;
}

.theme-day .df-chart-container .chart-col-pos:hover {
  background-color: #F9A748;
}

.theme-day .df-chart-col::after, .theme-day .df-chart-desc {
  background-color: #fafafa;
  color: #090519;
}

.theme-day .menu-dd-item:hover, .theme-day .menu-dd-item:focus {
  background-color: rgba(245, 245, 245, 0.15);
}

.theme-day .menu-dd-item:hover > button:hover,
.theme-day .menu-dd-item:hover > button:focus, .theme-day .menu-dd-item:focus > button:hover,
.theme-day .menu-dd-item:focus > button:focus {
  background-color: rgba(245, 245, 245, 0.8);
}

.theme-day .menu-dd-item::after {
  background-color: #090519;
}

.theme-day .button-bordered {
  background-color: rgba(245, 245, 245, 0.15);
  border: 1px solid #090519;
}

.theme-day .button-bordered:hover, .theme-day .button-bordered:focus {
  background-color: rgba(245, 245, 245, 0.8);
}

.theme-day input[type="checkbox"] + label {
  background-color: #a5cbd6;
}

.theme-day input[type="checkbox"] + label:hover {
  background-color: #5caff3;
}

.theme-day input[type="checkbox"] + label::after {
  background-color: #ececec;
}

.theme-day input[type="checkbox"]:checked + label {
  background-color: #62AAE4;
}

.theme-day input[type="checkbox"]:checked + label:hover {
  background-color: #5caff3;
}

.theme-day .x-button::before, .theme-day .x-button::after,
.theme-day .arr-left::before,
.theme-day .arr-left::after,
.theme-day .arr-right::before,
.theme-day .arr-right::after {
  background-color: #090519;
}

.theme-day .splitter {
  background-color: #090519;
}

.theme-contrast {
  background: black;
}

@media only screen and (max-width: 767px) {
  .theme-contrast .navbar-wrapper {
    background-color: #4d4d4d;
  }
  .theme-contrast .navbar-wrapper {
    box-shadow: 0 3px 5px rgba(133, 133, 133, 0.75);
  }
  .theme-contrast .menu-dd, .theme-contrast .wf-weekday-nav {
    background-color: black;
  }
  .theme-contrast .menu-dd-item:nth-of-type(odd)::after, .theme-contrast .wf-weekday-card:nth-of-type(odd)::after {
    background-color: #ececec;
  }
  .theme-contrast .menu-dd-item:nth-of-type(even)::after, .theme-contrast .wf-weekday-card:nth-of-type(even)::after {
    background-color: #a7a7a7;
  }
  .theme-contrast .radio-wf-weekday-card:checked + label {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(63, 94, 251, 0) 50%);
  }
}

@media only screen and (min-width: 768px) {
  .theme-contrast .menu-dd.dd-opened {
    background-color: #1d1d1d;
  }
  .theme-contrast .menu-dd.dd-opened .search-bar {
    background-color: black;
  }
  .theme-contrast .radio-wf-weekday-card:checked + label::after {
    background-color: #FFF838;
  }
}

.theme-contrast .col-prim {
  color: #FFF838;
}

.theme-contrast .col-sec {
  color: #0AFF5C;
}

.theme-contrast .col-neg {
  color: #62AAE4;
}

.theme-contrast .col-pos {
  color: #F9A748;
}

.theme-contrast input,
.theme-contrast select {
  color: #FFF838;
  border-bottom-color: #0AFF5C;
}

.theme-contrast input:hover, .theme-contrast input:focus,
.theme-contrast select:hover,
.theme-contrast select:focus {
  border-bottom-color: #FFF838;
}

.theme-contrast .radio-result-nav + label,
.theme-contrast .radio-menu-dd-nav + label {
  color: #0AFF5C;
}

.theme-contrast .radio-result-nav + label:hover,
.theme-contrast .radio-menu-dd-nav + label:hover {
  color: #80FFA8;
}

.theme-contrast .radio-result-nav:checked + label,
.theme-contrast .radio-menu-dd-nav:checked + label {
  color: #FFF838;
}

.theme-contrast .radio-result-nav:checked + label::after,
.theme-contrast .radio-menu-dd-nav:checked + label::after {
  background-color: #FFF838;
}

.theme-contrast .button-reset-input {
  color: #0AFF5C;
}

.theme-contrast .button-reset-input:hover {
  color: #FFF838;
}

.theme-contrast .df-chart-container {
  background-color: #a0a0a093;
}

.theme-contrast .df-chart-container .df-chart-scale {
  border-right: 1px solid #FFF838;
}

.theme-contrast .df-chart-container .df-chart-columns {
  border-bottom: 1px solid #FFF838;
}

.theme-contrast .df-chart-container .chart-col-neg {
  background-color: #5caff3;
}

.theme-contrast .df-chart-container .chart-col-neg:hover {
  background-color: #62AAE4;
}

.theme-contrast .df-chart-container .chart-col-pos {
  background-color: #e4b144;
}

.theme-contrast .df-chart-container .chart-col-pos:hover {
  background-color: #F9A748;
}

.theme-contrast .df-chart-col::after, .theme-contrast .df-chart-desc {
  background-color: #1d1d1d;
  color: #FFF838;
}

.theme-contrast .menu-dd-item:hover, .theme-contrast .menu-dd-item:focus {
  background-color: rgba(245, 245, 245, 0.15);
}

.theme-contrast .menu-dd-item:hover > button:hover,
.theme-contrast .menu-dd-item:hover > button:focus, .theme-contrast .menu-dd-item:focus > button:hover,
.theme-contrast .menu-dd-item:focus > button:focus {
  background-color: rgba(245, 245, 245, 0.8);
}

.theme-contrast .menu-dd-item::after {
  background-color: #FFF838;
}

.theme-contrast .button-bordered {
  background-color: rgba(245, 245, 245, 0.15);
  border: 1px solid #FFF838;
}

.theme-contrast .button-bordered:hover, .theme-contrast .button-bordered:focus {
  background-color: rgba(245, 245, 245, 0.8);
}

.theme-contrast input[type="checkbox"] + label {
  background-color: #D6FFE4;
}

.theme-contrast input[type="checkbox"] + label:hover {
  background-color: #80FFA8;
}

.theme-contrast input[type="checkbox"] + label::after {
  background-color: #757575;
}

.theme-contrast input[type="checkbox"]:checked + label {
  background-color: #0AFF5C;
}

.theme-contrast input[type="checkbox"]:checked + label:hover {
  background-color: #80FFA8;
}

.theme-contrast .x-button::before, .theme-contrast .x-button::after,
.theme-contrast .arr-left::before,
.theme-contrast .arr-left::after,
.theme-contrast .arr-right::before,
.theme-contrast .arr-right::after {
  background-color: #FFF838;
}

.theme-contrast .splitter {
  background-color: #0AFF5C;
}

.col-err {
  color: #ce5252;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  header .navbar-wrapper {
    width: 100%;
    position: sticky;
    padding: 5px;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    z-index: 3;
  }
  header .navbar-wrapper .input-placeholder {
    display: none;
  }
  header .navbar-wrapper .header-icon {
    margin-right: auto;
  }
  header .navbar-wrapper .navbar-menu-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    max-width: 100px;
    overflow: hidden;
    transition: max-width 1s;
  }
  header .navbar-wrapper .x-button {
    width: 0px;
    margin: 0px;
  }
  header .navbar-wrapper .x-button::before, header .navbar-wrapper .x-button::after {
    width: 0px;
    transition: transform 1s width .5s;
  }
  header .navbar-wrapper.dd-opened .navbar-menu-buttons {
    max-width: 0px;
  }
  header .navbar-wrapper.dd-opened .x-button {
    width: 30px;
    margin: 5px;
  }
  header .navbar-wrapper.dd-opened .x-button::before, header .navbar-wrapper.dd-opened .x-button::after {
    width: 2px;
  }
  header .navbar-wrapper.dd-opened .x-button::before {
    transform: rotate(45deg);
  }
  header .navbar-wrapper.dd-opened .x-button::after {
    transform: rotate(-45deg);
  }
  header .nav-icon {
    font-size: 30px;
    padding: 5px;
  }
  header .search-bar {
    display: none;
  }
  header .button-close-menu {
    justify-self: end;
  }
  header .menu-search-wrapper {
    overflow: hidden;
    transition: max-height 1.5s;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: "a a"
 "b c";
  }
  header .menu-search-wrapper h5 {
    grid-area: a;
  }
  header .menu-search-wrapper input {
    grid-area: b;
  }
  header .menu-search-wrapper button {
    grid-area: c;
    font-size: 15px;
  }
  header .menu-search-wrapper button i {
    padding: 3px;
  }
  header .menu-dd {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  header .menu-dd.dd-opened {
    padding-top: 60px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }
  header .menu-dd.dd-opened .search-bar {
    display: block;
    width: auto;
    padding: 3px 5px;
    text-align: left;
    font-size: 1.1em;
  }
  header .menu-dd.dd-opened .menu-search-wrapper {
    padding: 10px;
    height: auto;
  }
  header .menu-dd.dd-opened .menu-dd-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
  header .menu-dd .menu-dd-wrapper {
    padding: 7px;
    flex: 1;
    overflow: hidden;
  }
  header .menu-dd .menu-dd-history-wrapper,
  header .menu-dd .menu-dd-fav-wrapper,
  header .menu-dd .menu-dd-location-wrapper,
  header .menu-dd .menu-dd-sett-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1;
    min-width: 0;
    overflow: hidden;
  }
}

@media only screen and (min-width: 768px) {
  header {
    margin-bottom: 25px;
  }
  header input {
    width: 20vw;
    font-size: 1.5em;
    line-height: 180%;
    min-width: 100%;
  }
  header .navbar-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  header .menu-dd {
    top: 30px;
    left: 50%;
    width: auto;
    transform: translate(-50%);
  }
  header .menu-dd.dd-opened {
    padding: 20px;
    border-radius: 20px;
  }
  header .menu-dd.dd-opened .menu-dd-wrapper {
    display: block;
  }
  header .menu-dd .menu-dd-navbar {
    margin: 10px 0;
  }
  header .menu-dd .menu-dd-box {
    max-height: 30vh;
  }
  header .menu-dd .menu-dd-wrapper {
    bottom: -100%;
    display: block;
  }
  header .menu-dd-item::after {
    transform: scale(0);
  }
  header .menu-dd-item:hover::after, header .menu-dd-item:focus::after {
    transform: scale(1);
  }
  header .menu-dd-fav-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
  }
  header .button-settings,
  header .header-icon {
    width: 40px;
    height: 40px;
  }
  header .header-icon {
    line-height: 40px;
    text-align: center;
  }
}

header .input-placeholder {
  width: 20vw;
  height: 5px;
  font-size: 1.5em;
  line-height: 180%;
  display: block;
}

header h1 {
  padding: 20px;
}

header .menu-dd {
  position: absolute;
  transition: background-color .5s, padding .5s, border-radius .5s;
  z-index: 2;
}

header .menu-dd .menu-dd-wrapper {
  display: none;
}

header .menu-dd .menu-dd-wrapper .menu-dd-navbar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

header .menu-dd .menu-dd-wrapper .menu-dd-navbar label {
  font-size: 130%;
  padding: 15px;
  position: relative;
  transition: color .5s;
}

header .menu-dd .menu-dd-wrapper .menu-dd-navbar label::after {
  content: '';
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: center center;
  transition: transform .25s;
  position: absolute;
  bottom: 0;
  left: 0;
}

header .menu-dd .menu-dd-wrapper .menu-dd-navbar input[type="radio"]:checked + label::after {
  transform: scaleX(1);
}

header .menu-dd .menu-dd-wrapper .menu-dd-navbar .button-reset-input {
  margin-left: auto;
}

header .menu-dd .menu-dd-wrapper .menu-dd-item {
  display: grid;
  grid-template-columns: 3fr auto;
  position: relative;
}

header .menu-dd .menu-dd-wrapper .menu-dd-item i {
  align-self: center;
  justify-self: center;
}

header .menu-dd .menu-dd-wrapper .menu-dd-item::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 4px;
  transform-origin: top;
  transition: transform .25s;
  background-size: 200%;
  background-position: 50%;
}

header .menu-dd .menu-dd-wrapper .menu-dd-item .menu-dd-item-city {
  font-size: 100%;
  font-weight: 500;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: repeat(2, 1fr);
  background: none;
  border: none;
  transition: background-color .5s;
  padding: 10px;
}

header .menu-dd .menu-dd-wrapper .menu-dd-item .menu-dd-item-city i {
  grid-area: 1 / 1 / 3 / 2;
  font-size: 150%;
  font-weight: 400;
}

header .menu-dd .menu-dd-wrapper .menu-dd-item .menu-dd-item-city p,
header .menu-dd .menu-dd-wrapper .menu-dd-item .menu-dd-item-city h5 {
  align-self: center;
  justify-self: left;
  text-align: left;
  width: 100%;
  width: auto;
}

header .menu-dd .menu-dd-wrapper .menu-dd-item .menu-dd-item-city p {
  font-weight: 600;
}

header .menu-dd .menu-dd-wrapper .menu-dd-item .sld-city-select {
  grid-area: 1 / 1 / 3 / 3;
}

header .menu-dd .menu-dd-wrapper .menu-dd-item .menu-dd-item-remove {
  font-size: 120%;
  font-weight: 600;
  padding: 20px;
  background: none;
  border: none;
  transition: background-color .5s;
}

header .menu-dd .menu-dd-wrapper .menu-dd-desc {
  padding: 10px 0;
}

header .menu-dd .menu-dd-wrapper .menu-dd-desc p {
  display: inline-block;
  font-size: 110%;
  font-weight: 500;
}

header .menu-dd .menu-dd-wrapper .menu-dd-fav-wrapper h5,
header .menu-dd .menu-dd-wrapper .menu-dd-history-wrapper h5 {
  width: 100%;
  text-align: center;
}

header .menu-dd .menu-dd-wrapper .menu-dd-box {
  overflow-y: auto;
}

header .menu-dd .menu-dd-wrapper .menu-dd-box::-webkit-scrollbar {
  width: 10px;
  margin-left: 10px;
}

header .menu-dd .menu-dd-wrapper .menu-dd-box::-webkit-scrollbar-track {
  background-color: #cacaca;
  border-radius: 5px;
}

header .menu-dd .menu-dd-wrapper .menu-dd-box::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 5px;
}

header .menu-dd .menu-dd-wrapper .menu-dd-box::-webkit-scrollbar-thumb:hover {
  background-color: #a7a7a7;
}

header select {
  margin: 8px 0;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  transition: background-color .5s, color .5s;
  z-index: 1;
}

main .tooltip {
  transition: color .25s;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  main {
    width: max-content;
    height: auto;
    max-width: 80%;
    max-height: 80%;
    border-radius: 25px;
    padding: 30px;
    position: absolute;
    left: 50%;
    margin-top: 5vh;
    transform: translate(-50%);
  }
}

@media only screen and (max-width: 767px) {
  main {
    width: 100%;
    height: auto;
  }
  main .tooltip {
    padding: 30px 10px;
  }
}

.splitter {
  width: 90%;
  min-height: 1px;
  height: 1px;
  z-index: 1;
  margin: 15px 0;
  align-self: center;
  display: inline-block;
}

.card-header {
  margin: 10px 0;
  box-sizing: border-box;
  align-self: center;
}

@media only screen and (max-width: 767px) {
  .card-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    margin: 10px 0;
    justify-self: center;
  }
  .card-header .card-header-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  .card-header .card-header-info h2 {
    width: fit-content;
  }
  .card-header .card-header-info .card-header-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
  }
}

@media only screen and (min-width: 768px) {
  .card-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .card-header .card-header-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .card-header .card-header-info .card-header-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.card-header p {
  align-self: center;
}

.card-header .card-header-info * {
  padding: 0 5px;
}

.card-header .card-header-info .country-code-data {
  font-size: 100%;
  align-self: flex-end;
}

.card-header .card-header-info .country-flag-data {
  font-size: 80%;
}

.card-header select {
  align-self: flex-end;
  margin-bottom: 0;
  margin-top: 0;
}

select {
  width: auto;
  border: none;
  background: none;
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
  border-bottom: 2px solid black;
  transition: border .5s;
}

select:focus {
  outline: none;
}

select option {
  font-size: 0.8em;
  color: black;
}

select option:checked {
  background-color: #cacaca;
}

input[type="radio"] {
  position: absolute;
  width: 0.01px;
  height: 0.01px;
  left: -100vw;
}

input[type="checkbox"] {
  position: absolute;
  width: 0.01px;
  height: 0.01px;
  left: -100vw;
}

input[type="checkbox"] + label {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  display: block;
  margin: 10px;
  position: relative;
  transition: background-color .5s;
}

input[type="checkbox"] + label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -5px;
  width: 25px;
  height: 25px;
  margin-left: 0;
  border-radius: 50%;
  box-sizing: content-box;
  display: block;
  transform: translateY(-50%);
  transition: margin-left .5s;
}

input[type="checkbox"]:checked + label::after {
  margin-left: 25px;
}

input[type="text"] {
  text-align: center;
  background-color: transparent;
  position: relative;
  border: none;
  border-bottom: 2px solid;
  transition: border-bottom 0.5s, width .5s;
}

input[type="text"]:focus {
  outline: none;
  background-color: transparent;
}

.x-button {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  margin: 5px;
  border: none;
  background: none;
}

.x-button::before, .x-button::after {
  display: block;
  position: absolute;
  content: '';
  width: 2px;
  border-radius: 3px;
  height: 100%;
  transition: transform .5s;
  transform-origin: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.arr-right::before, .arr-right::after {
  transform-origin: right center;
}

.arr-left::before, .arr-left::after {
  transform-origin: left center;
}

.arr-right,
.arr-left {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  margin: 5px;
  transition: transform .5s;
}

.arr-right::before, .arr-right::after,
.arr-left::before,
.arr-left::after {
  display: block;
  position: absolute;
  content: '';
  border-radius: 3px;
  width: 30%;
  height: 2px;
  transition: transform .5s;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.arr-right::before,
.arr-left::before {
  transform: rotate(45deg);
}

.arr-right::after,
.arr-left::after {
  transform: rotate(-45deg);
}

.nav-icon {
  background: none;
  border: none;
}

.nav-icon i {
  padding: 10px;
  display: block;
  transform-origin: center;
}

.nav-button:hover {
  cursor: pointer;
}

.button-bordered {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 10px 0;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  font-weight: 400;
  width: 100%;
  border-radius: 10px;
  transition: background-color .5s;
}

.button-bordered p {
  display: inline-block;
  font-size: 100%;
  font-weight: 600;
  padding: 0 5px;
}

.button-bordered i {
  font-size: 120%;
  font-weight: 400;
  padding: 0 5px;
}

@keyframes rotate-once {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes arrow-right {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes arrow-left {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.result-navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .result-navbar {
    box-sizing: border-box;
    padding: 10px;
  }
  .result-navbar input[type="radio"]:not(:checked) + label {
    position: absolute;
    bottom: -2000px;
  }
  .result-navbar input[type="radio"]:checked + label {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.result-navbar input[type="radio"]:checked + label::after {
  transform: scaleX(1);
}

.result-navbar label {
  transition: color 0.5s;
  width: max-content;
  padding: 15px 20px;
  position: relative;
}

.result-navbar label::after {
  content: '';
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: center right;
  transition: transform .25s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.weather-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: auto;
  padding: 0 20px;
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}

.weather-box::-webkit-scrollbar {
  width: 10px;
  margin-left: 10px;
}

.weather-box::-webkit-scrollbar-track {
  background-color: #cacaca;
  border-radius: 5px;
}

.weather-box::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 5px;
}

.weather-box::-webkit-scrollbar-thumb:hover {
  background-color: #a7a7a7;
}

.result-container {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}

.refresh-tooltip {
  font-size: 1em;
  font-weight: 400;
  padding: 10px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .result-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 767px) {
  .result-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 60px);
    overflow-x: hidden;
  }
  .refresh-tooltip {
    margin-top: auto;
    font-size: 1em;
    font-weight: 400;
    padding: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .current-forecast .cf-info-wrapper,
  .current-forecast .cf-weather-details,
  .current-forecast .cf-aqi-content,
  .current-forecast .cf-aqi-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .current-forecast .cf-city-info {
    align-self: center;
    justify-self: center;
    padding: 5px;
  }
  .current-forecast .cf-weather-desc-data {
    align-self: center;
    overflow-wrap: normal;
  }
  .current-forecast .cf-sun-details-time {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
  .current-forecast .cf-sun-position {
    width: 100%;
  }
  .current-forecast .cf-sun-position .cf-sun-box {
    width: 80%;
    aspect-ratio: 3 / 1;
    box-sizing: content-box;
    overflow: hidden;
  }
  .current-forecast .cf-sun-position .cf-sun-box .cf-sun-path {
    width: 100%;
    height: 100%;
    padding-bottom: calc((2 * 100%) / 3);
  }
  .current-forecast .cf-sun-position .cf-sun-box .cf-sun-path .cf-sun-icon {
    width: 20px;
    height: 20px;
  }
  .current-forecast .cf-aqi-wrapper .cf-content-table {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .current-forecast .cf-info-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .current-forecast .cf-weather-details {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
  }
  .current-forecast .cf-aqi-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .current-forecast .cf-sun-position .cf-sun-box {
    width: 25vw;
    aspect-ratio: 3 / 1;
  }
  .current-forecast .cf-sun-position .cf-sun-box .cf-sun-path {
    height: 25vw;
    width: 25vw;
  }
  .current-forecast .cf-sun-position .cf-sun-box .cf-sun-path .cf-sun-icon {
    width: 1.5vw;
    height: 1.5vw;
  }
  .current-forecast .cf-aqi-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.current-forecast .current-temp-box {
  margin-right: 20px;
  align-items: flex-end;
}

.current-forecast .current-temp-box .temp-feellike-current {
  margin: 0 3px 0 5px;
}

.current-forecast .cf-info-wrapper .cf-city-date-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
}

.current-forecast .cf-info-wrapper .cf-city-date-box .cf-city-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.current-forecast .cf-info-wrapper .cf-city-date-box .cf-city-info * {
  padding: 0 3px;
}

.current-forecast .cf-info-wrapper .cf-city-date-box .cf-city-info .cf-city-name-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.current-forecast .cf-info-wrapper .cf-city-date-box .cf-city-date-time {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.current-forecast .cf-info-wrapper .cf-city-date-box .cf-city-date-time * {
  padding: 0 3px;
}

.current-forecast .cf-info-wrapper .cf-weather-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.current-forecast .cf-info-wrapper .cf-weather-box .cf-weather-desc-data {
  font-weight: 700;
}

.current-forecast .cf-info-wrapper .cf-weather-box .cf-weather-temp {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.current-forecast .cf-info-wrapper .cf-weather-box .cf-weather-temp .cf-temp-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 0 5px;
}

.current-forecast .cf-info-wrapper .cf-weather-box .cf-weather-temp .cf-temp-box .cf-temp {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.current-forecast .cf-info-wrapper .cf-weather-box .cf-weather-temp .cf-temp-box .cf-fl-temp {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.current-forecast .cf-info-wrapper .cf-weather-box .cf-weather-temp .cf-temp-box .cf-fl-temp .cf-fl-temp-data {
  padding: 0 3px;
}

.current-forecast .cf-info-wrapper .cf-weather-box .cf-weather-temp .cf-weather-icon-data {
  font-size: 90px;
  line-height: 100px;
  padding: 0 3px;
}

.current-forecast .cf-content-table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.current-forecast .cf-content-table .c-table-content {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-auto-rows: auto;
  column-gap: 10px;
}

.current-forecast .cf-content-table .c-table-content > p.c-table-cell:nth-of-type(odd) {
  justify-self: end;
}

.current-forecast .cf-header {
  padding: 8px 0;
  vertical-align: middle;
  width: max-content;
}

.current-forecast .cf-header i {
  font-size: 25px;
  padding-right: 5px;
}

.current-forecast .cf-weather-details .cf-sun-position {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px;
}

.current-forecast .cf-weather-details .cf-sun-position .c-table-header {
  padding: 8px 0;
  vertical-align: middle;
}

.current-forecast .cf-weather-details .cf-sun-position .c-table-header i {
  font-size: 25px;
  padding-right: 5px;
}

.current-forecast .cf-weather-details .cf-sun-position .cf-sun-box {
  position: relative;
  overflow: hidden;
  margin: 5px 0;
}

.current-forecast .cf-weather-details .cf-sun-position .cf-sun-box .cf-sun-path {
  margin: 10% auto;
  border-radius: 50%;
  border: 2px dashed;
  position: relative;
  transform-origin: center;
  transform: rotate(0deg);
  transition: transform .5s;
}

.current-forecast .cf-weather-details .cf-sun-position .cf-sun-box .cf-sun-path .cf-sun-icon {
  background: #ffd900;
  box-shadow: 0px 0px 3vw 0.5vw #ffd000;
  border-radius: 50%;
  position: relative;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.current-forecast .cf-weather-details .cf-sun-position .cf-sun-details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.current-forecast .cf-weather-details .cf-sun-position .cf-sun-details i {
  font-size: 1.2em;
  padding: 0 5px;
}

.current-forecast .cf-air-quality {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.current-forecast .cf-air-quality .cf-header {
  align-self: center;
}

.current-forecast .cf-air-quality .cf-aqi-desc-wrapper {
  height: auto;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
}

.current-forecast .cf-air-quality .cf-aqi-desc-wrapper .cf-aqi-indicator {
  display: block;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, #007a06 0%, #007a06 20%, #02b13c 20%, #02b13c 40%, #db9c14 40%, #db9c14 60%, #db8b2f 60%, #db8b2f 80%, #ce5252 80%);
}

@media only screen and (max-width: 767px) {
  .daily-forecast select {
    align-self: flex-start;
  }
  .daily-forecast .df-data-type-wrapper {
    margin: 10px 0;
  }
  .daily-forecast .df-chart-desc {
    top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .daily-forecast .card-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 20px;
  }
  .daily-forecast .df-chart-container {
    position: relative;
  }
  .daily-forecast select {
    justify-self: flex-end;
    align-self: center;
    margin-right: 5px;
  }
  .daily-forecast .df-data-type-wrapper {
    margin: 8px 0 8px auto;
    align-self: flex-end;
  }
  .daily-forecast .df-chart-desc {
    bottom: -150%;
  }
}

.daily-forecast .df-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: auto;
}

.daily-forecast .df-wrapper::-webkit-scrollbar {
  width: 10px;
  margin-left: 10px;
}

.daily-forecast .df-wrapper::-webkit-scrollbar-track {
  background-color: #cacaca;
  border-radius: 5px;
}

.daily-forecast .df-wrapper::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 5px;
}

.daily-forecast .df-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #a7a7a7;
}

.daily-forecast .df-wrapper .df-data-type-wrapper {
  position: relative;
}

.daily-forecast .df-wrapper .df-data-type-wrapper .df-chart-tooltip-hover {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
}

.daily-forecast .df-wrapper .df-data-type-wrapper .df-chart-tooltip-hover + .df-chart-desc {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  max-width: 50vw;
  right: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity .25s;
}

.daily-forecast .df-wrapper .df-data-type-wrapper .df-chart-tooltip-hover:hover + .df-chart-desc {
  opacity: 1;
  height: auto;
  width: max-content;
  padding: 10px;
  border-radius: 10px;
}

.daily-forecast .df-chart-container {
  display: grid;
  position: relative;
  grid-template-columns: auto 1fr;
  grid-template-rows: 30vh 1fr;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  grid-template-areas: "scale chart"
 ". chart";
  padding: 20px;
}

.daily-forecast .df-chart-container .df-chart-scale {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: max-content;
  padding-right: 5px;
  font-size: 80%;
  grid-area: scale;
}

.daily-forecast .df-chart-container .df-chart-wrapper {
  grid-area: chart;
  overflow-x: auto;
  overflow-y: hidden;
  height: max-content;
  display: grid;
  grid-template-rows: 30vh 1fr;
  grid-template-areas: "columns"
 "data";
}

.daily-forecast .df-chart-container .df-chart-wrapper::-webkit-scrollbar {
  height: 5px;
  margin-top: 10px;
}

.daily-forecast .df-chart-container .df-chart-wrapper::-webkit-scrollbar-track {
  background-color: #cacaca;
  border-radius: 5px;
}

.daily-forecast .df-chart-container .df-chart-wrapper::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 5px;
}

.daily-forecast .df-chart-container .df-chart-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #a7a7a7;
}

.daily-forecast .df-chart-container .df-chart-wrapper .df-chart-columns {
  display: grid;
  grid-template-columns: repeat(24, minmax(0, 1fr));
  grid-area: columns;
}

.daily-forecast .df-chart-container .df-chart-wrapper .df-chart-data {
  display: grid;
  width: max-content;
  height: max-content;
  grid-template-columns: repeat(24, minmax(0, 1fr));
  grid-area: data;
}

.daily-forecast .df-chart-container .df-chart-wrapper .df-chart-col {
  width: 50%;
  height: 30vh;
  background-clip: content-box;
  transition: max-height .5s, background-color .25s;
  align-self: flex-end;
  justify-self: center;
}

.daily-forecast .df-chart-container .df-chart-wrapper .df-chart-col::after {
  content: attr(chart-time) ": " attr(chart-value);
  position: absolute;
  overflow: hidden;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity .25s;
}

.daily-forecast .df-chart-container .df-chart-wrapper .df-chart-col:hover::after {
  opacity: 1;
  width: max-content;
  height: auto;
  padding: 5px 8px;
  border-radius: 5px;
}

.daily-forecast .df-chart-container .df-chart-wrapper .df-hourly-weather-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0 3px;
  font-size: 70%;
  margin-top: 5px;
}

.daily-forecast .df-chart-container .df-chart-wrapper .df-hourly-weather-info * {
  margin-bottom: 2px;
}

.daily-forecast .df-chart-container .df-chart-wrapper .df-hourly-weather-info .df-weather-icon {
  font-size: 1.5em;
}

.weekly-forecast {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

@media only screen and (max-width: 767px) {
  .weekly-forecast {
    width: 100%;
  }
  .weekly-forecast .wf-weekday-nav {
    display: none;
  }
  .weekly-forecast .wf-weekday-nav.dd-opened {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 70px 10px 10px 10px;
    box-sizing: border-box;
    z-index: 2;
  }
  .weekly-forecast .wf-weekday-nav.dd-opened h5 {
    margin: 10px 0;
  }
  .weekly-forecast .wf-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .weekly-forecast .wf-weekday-nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .weekly-forecast .wf-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-self: center;
  }
  .weekly-forecast .wf-weekday-card {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .weekly-forecast .wf-weekday-card:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .weekly-forecast input[type="radio"] + label::after {
    transform: scale(0);
  }
  .weekly-forecast input[type="radio"]:checked + label::after {
    transform: scale(1);
  }
}

.weekly-forecast .wf-weekday-nav {
  overflow-y: auto;
  overflow-x: hidden;
}

.weekly-forecast .wf-weekday-nav::-webkit-scrollbar {
  width: 10px;
  margin-left: 10px;
}

.weekly-forecast .wf-weekday-nav::-webkit-scrollbar-track {
  background-color: #cacaca;
  border-radius: 5px;
}

.weekly-forecast .wf-weekday-nav::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 5px;
}

.weekly-forecast .wf-weekday-nav::-webkit-scrollbar-thumb:hover {
  background-color: #a7a7a7;
}

.weekly-forecast .wf-weekday-nav input[type="radio"] + label {
  position: relative;
}

.weekly-forecast .wf-weekday-nav input[type="radio"] + label::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 4px;
  transform-origin: top center;
  transition: transform .25s;
  background-size: 200%;
  background-position: 50%;
}

.weekly-forecast .wf-weekday-nav .wf-weekday-card {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 50px 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: auto;
  column-gap: 5px;
  padding: 5px 10px;
  transition: background-color .5s;
  grid-template-areas: "icon weekday temp"
 "icon date temp";
}

.weekly-forecast .wf-weekday-nav .wf-weekday-card .wf-card-weekday-weather-icon {
  grid-area: icon;
  padding: 10px;
  align-self: center;
}

.weekly-forecast .wf-weekday-nav .wf-weekday-card .wf-card-weekday {
  grid-area: weekday;
  font-size: 1.2em;
  font-weight: 600;
  align-self: center;
}

.weekly-forecast .wf-weekday-nav .wf-weekday-card .wf-card-weekday-date {
  grid-area: date;
  font-size: 0.9em;
  font-weight: 300;
  align-self: center;
}

.weekly-forecast .wf-weekday-nav .wf-weekday-card .wf-card-weekday-temp {
  grid-area: temp;
  font-size: 2em;
  font-weight: 600;
  width: max-content;
  align-self: center;
  justify-self: end;
  text-align: center;
}

.weekly-forecast .wf-wrapper {
  overflow-y: hidden;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 20px;
  padding: 0 20px;
  font-size: 110%;
  overflow-y: auto;
  overflow-x: hidden;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper::-webkit-scrollbar {
  width: 10px;
  margin-left: 10px;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper::-webkit-scrollbar-track {
  background-color: #cacaca;
  border-radius: 5px;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 5px;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #a7a7a7;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper .wf-section-header {
  font-size: 120%;
  font-weight: 500;
  align-self: center;
  padding: 10px;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper .wf-info-data-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper .wf-info-data-wrapper * {
  padding: 5px;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper .wf-sun-pos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper .wf-sun-pos p {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper .wf-sun-pos p * {
  margin: 0 3px;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper .wf-temp-wrapper .wf-temp-box {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 5px;
  column-gap: 10px;
  margin: 5px 0;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper .wf-temp-wrapper .wf-temp-box i {
  grid-area: 1 / 1 / 3 / 2;
  font-size: 150%;
  align-self: center;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper i {
  font-size: 110%;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper .wf-weather-icon-data {
  font-size: 300%;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper .wf-weather-desc-data {
  font-size: 110%;
  font-weight: 500;
  margin: 10px 0;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper .wf-details-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 10px;
}

.weekly-forecast .wf-wrapper .wf-info-wrapper .wf-details-table i {
  justify-self: end;
}

.page-load {
  display: none !important;
}

body {
  background-image: url("../../media/pictures/night-background.webp");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  font-size: 14px;
}

.box-hidden {
  display: none !important;
}

body.no-anim * {
  transition: none !important;
  animation: none !important;
}

body.no-anim *::after, body.no-anim *::before {
  transition: none !important;
  animation: none !important;
}

i {
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .mobile-visible {
    display: none;
  }
  body::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0.3;
    z-index: 0;
  }
  h1 {
    font-size: 3em;
    font-weight: 700;
  }
  h2 {
    font-size: 2em;
    font-weight: 500;
  }
  h3 {
    font-size: 1.5em;
    font-weight: 400;
  }
  p,
  p.c-table-cell {
    font-size: 1.2em;
    font-weight: 300;
  }
  h5 {
    font-size: 0.9em;
    font-weight: 200;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-hidden {
    display: none;
  }
  h1 {
    font-size: 2em;
    font-weight: 700;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 500;
  }
  h3 {
    font-size: 1.2em;
    font-weight: 400;
  }
  p,
  p.c-table-cell {
    font-size: 1.1em;
    font-weight: 300;
  }
  h5 {
    font-size: 0.9em;
    font-weight: 100;
  }
}
/*# sourceMappingURL=style.css.map */